{% extends "layouts/main.tera.html" %}
{% block pagetitle %}Toaster Testing{% endblock pagetitle %}
{% block content %}
<pre><code>
    You've found the toaster!

       _________________.
      /  ___     ___   /|
     /  /::/    /::/  / |
~~~~/  /::/    /::/  /  |
   /  /::/    /::/  /   |
  /  /::/    /::/  /    |
 /  /::/    /::/  /     |
/   ~~~     ~~~  /      |
|~~~~~~~~~~~~~~~~|      |
|       ::       |      /
|      ====      |     /
|       ::       |    /
|       ::       |   /
|       ::   @   |  /
|       ::       | /
!________________!/
</code></pre>
{% endblock content %}